/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Reset CSS */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

#root {
	max-width: none !important;
	margin: 0 !important;
	padding: 0 !important;
	width: 100% !important;
	text-align: left !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Nunito Sans', Arial, sans-serif !important;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: 'Nunito Sans', Arial, sans-serif !important;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button, input {
	outline: none;
	border: none;
	background: transparent;
	padding: 0;
	font-family: inherit;
  	color: #626276;
}
select {
	border: 1px solid #eaeaf1;
	box-shadow: 0 0 0 0 #4eac6d40;
	font-size: .8203125rem;
	padding-bottom: .25rem;
	padding-left: .5rem;
	padding-top: .25rem;
	border-radius: 4px;
	outline: 0;
	background-color: #fff;
	color: #495057;
}

:root {
	--default-color: #8224e3;
	--primary-color: #2e2e2e;
	--gray-color: #878a92;
	--green-color: rgb(78, 172, 109);
}

/* Background */
.bg-primary {
	--bs-bg-rgb-color: rgb(98,0,238);
	background-color: var(--primary-color) !important;
}

.bg-white {
	background-color: #fff;
}

.bg-gray {
	background-color: #f8f8f8;
}

.bg-chat {
	background-color: #eaeaea;
}

.bg-green {
	background-color: rgba(78, 172, 109, 0.1) !important;
}

.bg-purple-300 {
	background-color: #d0b3ff;
}

.bg-purple-700 {
	background-color: #35126a;
}

.blur-bg {
	background: #f5f5f599;
	-webkit-backdrop-filter: blur(160px);
	backdrop-filter: blur(160px);
}

.badge-success {
	border: 1px solid rgba(23,198,83,.2) !important;
	background: #eafff1 !important;
	color: #04b440 !important;
}

/* Margin */
.m-auto {
	margin: auto;
}

.mx-auto {
	margin: 0 auto;
}

.mx-16 {
	margin: 0 16px;
}

.mt-4 {
	margin-top: 4px;
}

.mt-8 {
	margin-top: 8px;
}

.mt-12 {
	margin-top: 12px;
}

.mb-8 {
	margin-bottom: 8px;
}

.mb-16 {
	margin-bottom: 16px;
}

.mb-24 {
	margin-bottom: 24px;
}

.ml-auto {
	margin-left: auto;
}

.ml-6 {
	margin-left: 6px;
}

.ml-8 {
	margin-left: 8px;
}

.ml-16 {
	margin-left: 16px;
}

.mr-16 {
	margin-right: 16px;
}

/* Padding */
.p-2 {
	padding: 2px;
}

.p-4 {
	padding: 4px;
}

.p-8 {
	padding: 8px;
}

.p-12 {
	padding: 12px;
}

.p-16 {
	padding: 16px;
}

.p-24 {
	padding: 24px;
}

.p-36 {
	padding: 36px;
}

.pb-24 {
	padding-bottom: 24px;
}

.pt-0 {
	padding-top: 0 !important;
}

.pt-16 {
	padding-top: 16px;
}

.pt-24 {
	padding-top: 24px;
}

.px-8 {
	padding-left: 8px;
	padding-right: 8px;
}

.px-12 {
	padding-left: 12px;
	padding-right: 12px;
}

.px-16 {
	padding-left: 16px;
	padding-right: 16px;
}

.px-24 {
	padding-left: 24px;
	padding-right: 24px;
}

.py-8 {
	padding-top: 8px;
	padding-bottom: 8px;
}

.py-12 {
	padding-top: 12px;
	padding-bottom: 12px;
}

.py-16 {
	padding-top: 16px;
	padding-bottom: 16px;
}

.py-24 {
	padding-top: 24px;
	padding-bottom: 24px;
}

.pr-16 {
	padding-right: 16px;
}

.pl-16 {
	padding-left: 16px;
}

/* Radius */
.radius-4 {
	border-radius: 4px;
}

.radius-8 {
	border-radius: 8px;
}

.radius-24 {
	border-radius: 24px;
}

.radius-50 {
	border-radius: 50%;
}

.radius-rigth-4 {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

/* Grid */
.d-grid {
	display: grid;
}

.grid-cols-3 {
	grid-template-columns: repeat(3, 1fr);
}

.grid-cols-4 {
	grid-template-columns: repeat(4, 1fr);
}

.grid-cols-auto {
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* Flex */
.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
	justify-content: end;
}

.justify-start {
	justify-content: start;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: start;
}

.align-end {
    align-items: end;
}

.flex-column {
	flex-direction: column;
}

.flex-row {
	flex-direction: row !important;
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.col-lg-8 {
	flex: 0.7;
    max-width: 66.666667%;
}

.col-lg-4 {
	flex: 0.3;
    max-width: 33.333333%;
}

.col-lg-3 {
	-ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.gap-4px {
	gap: 4px !important;
}

.gap-8px {
	gap: 8px !important;
}

.gap-12px {
	gap: 12px !important;
}

.gap-16px {
	gap: 16px !important;
}

.gap-20px {
	gap: 20px !important;
}

.gap-28px {
	gap: 28px !important;
}

.gap-40px {
	gap: 40px !important;
}

.gap-52px {
	gap: 52px !important;
}

.flex-08 {
	flex: 0.8
}

.flex-1 {
	flex: 1;
}

/* Size */
.h-12 {
	height: 12px;
}

.h-20 {
	height: 20px;
}

.h-25 {
	height: 25px;
}

.h-30 {
	height: 30px;
}

.h-32 {
	height: 32px;
}

.h-40 {
	height: 40px;
}

.h-80 {
	height: 80%;
}

.h-90 {
	height: 90%;
}

.h-100 {
	height: 100% !important;
}

.h-46 {
	height: 46px;
}

.h-50 {
	height: 50%;
}

.h-46px {
	height: 46px !important;
}

.h-100vh {
	height: 100vh !important;
}

.h-200 {
	height: 200px;
}

.h-484 {
	height: 484px;
}

.min-h-570px {
	min-height: 570px !important;
}

.w-4 {
	width: 4px;
}

.w-12 {
	width: 12px;
}

.w-20 {
	width: 20px;
}

.w-25 {
	width: 25px;
}

.w-24 {
	width: 24px;
}

.w-30 {
	width: 30px;
}

.w-32 {
	width: 32px;
}

.w-40 {
	width: 40px;
}

.w-50 {
	width: 50px;
}

.w-200 {
	width: 200px;
}

.w-50per {
	width: 50%;
}

.w-100 {
	width: 100%;
}

.min-w-75px {
	min-width: 75px !important;
}

.min-w-120px {
	min-width: 120px !important;
}

.min-w-300px {
	min-width: 300px !important;
}

.max-w-75px {
	max-width: 75px !important;
}

.max-w-300px {
	max-width: 300px !important;
}

/* text */
.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.fw-normal {
	font-weight: 400 !important;
}

.font-bold {
	font-weight: bold;
}

.fw-medium, .fw-semibold {
	font-weight: 500 !important;
}

.text-color {
	color: #495057;
}

.text-color-secondary {
	color: #495057bf;
}

.text-white {
	color: #fff;
}

.text-green {
	color: var(--green-color) !important;
}

.text-gray {
	color: var(--gray-color);
}

.text-nowrap {
	white-space: nowrap !important;
}

.fs-12 {
	font-size: 12px !important;
	line-height: 16px !important;
}

.fs-13 {
	font-size: 13px !important;
	line-height: 16px !important;
}

.fs-14 {
	font-size: 14px !important;
}

.fs-16 {
	font-size: 16px !important;
	line-height: 24px !important;
}

.fs-20 {
	font-size: 20px !important;
	line-height: 1.5 !important;
}

.fs-24 {
  font-size: 24px !important;
  line-height: 1.5 !important;
}

.fs-34 {
	font-size: 34px !important;
}

.fs-48 {
	font-size: 48px !important;
	line-height: 1.5 !important;
}

.medium-gray-500, .medium-gray-500-hover:hover {
	color: #9e9e9e !important;
}

.green-500, .green-500-hover:hover {
	color: #4caf50 !important;
}

.red-500, .red-500-hover:hover {
	color: #f44336 !important;
}

.dark-gray-500, .dark-gray-500-hover:hover {
	color: #212121 !important;
}

/* Border */
.border-right-gray {
	border-right: 1px solid rgb(233, 231, 235);
}

.border-right-green {
	border-right: 4px solid var(--green-color);
}

.border-gray {
	border: 1px solid rgb(233, 231, 235);
}

.border-bottom-gray {
	border-bottom: 1px solid #eaeaf1;
}

.border-x-primary {
	border-right: 1px solid #e7edf2;
	border-left: 1px solid #e7edf2;
}

/* Position */
.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.fixed {
	position: fixed;
}

.sticky {
	position: sticky;
}

.top-100px {
	top: 100px;
}

.start-50 {
	left: 50% !important;
}

.start-0 {
	left: 0% !important;
}

.top-0 {
	top: 0 !important;
}

.top-100per {
	top: 100% !important;
}

.top-20px {
	top: 20px !important;
}

.top-24px {
	top: 24px !important;
}

.top-76 {
	top: 76px !important;
}

.bottom-0 {
	bottom: 0 !important;
}

.bottom-100per {
	bottom: 100% !important;
}

.left-0 {
	left: 0 !important;
}

/* Scroll */
/* Dùng cho trình duyệt hiện đại (Chrome, Edge, Safari) */
.hide-scrollbar {
	overflow: auto;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
	display: none; /* Chrome, Safari */
}

/* Button */
.btn-secondary {
	cursor: pointer;
	color: #071437;
	border-radius: 8px !important;
	background-color: #f8f8f8 !important;
	color: #212121 !important;
	border-color: transparent !important;
}

.btn-primary {
	border-radius: 8px !important;
	background-color: rgba(78, 172, 109, 0.1) !important;
	color: var(--green-color) !important;
	border-color: transparent !important;
}

.btn-gray-hover:hover {
	background-color: #d1d1d4;
	transition: all 0.3s ease;
}

.btn-green-hover:hover {
	background-color: #4eac6d !important;
  	color: #fff !important;
	transition: all 0.3s ease;
}

.btn-send {
	background-color: rgb(78, 172, 109);
	padding: 8px;
	border-radius: 4px;
	color: #fff;
	transition: all 0.2s ease;
}

.btn-send:active, .btn-send:hover {
	background-color: #3e8a57;
}

/* Cursor */
.cursor-pointer {
	cursor: pointer;
}

/* Table */
table {
	caption-side: bottom;
  	border-collapse: collapse;
}

thead {
	background-color: #f9f9f9;
}

tbody {
	background-color: #fcfcfc;
}

th, td {
	padding: 12px;
	vertical-align: middle
}

th {
	font-size: 14px !important;
  	line-height: 20px !important;
	color: #212121 !important;
	font-weight: 600 !important;
}

/* Border */
.border-white {
	border: 24px solid #fff;
}

.border-top-white {
	border-top: 24px solid #fff;
}

.border-bottom-white {
	border-bottom: 24px solid #fff;
}

// Avatar
.avatar-lg {
	width: 5rem;
	height: 5rem;
}

.avatar {
	width: 48px;
	height: 48px;
}

.object-cover {
	object-fit: cover;
}

// Z-index
.index-1 {
	z-index: 1;
}

// Overflow 
.overflow-y-auto {
	overflow-y: auto;
}

// Dot
.dot-green {
	display: block;
	width: 10px;
	height: 10px;
	background-color: rgb(6, 214, 160);
	border-radius: 50%;
}

.dot-yellow {
	display: block;
	width: 10px;
	height: 10px;
	background-color: rgb(255, 209, 102);
	border-radius: 50%;
}

.dot-red {
	display: block;
	width: 10px;
	height: 10px;
	background-color: rgb(239, 71, 111);
	border-radius: 50%;
}

// Shadow
.box-shadow {
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

// Rotate
.rotate-180 {
	transform: rotate(180deg);
	transition: transform 0.3s ease;
}

.rotate-0 {
	transform: rotate(0deg);
	transition: transform 0.3s ease-in-out;
}

// Active
.active:active {
	color: #333;
}

// Animation
.animate-slide-down {
	animation: slideDown 0.3s ease-out forwards;
}

// Keyframes
@keyframes slideDown {
	0% { 
		transform: translateY(-10px);
	}
	100% { 
		transform: translateY(0);
	}
}