.button-application-filter-custom {
  border-radius: 8px;
  color: #78829d;
  font-size: 16px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  height: 36px;
  background-color: #f9f9f9;
  &:hover {
    color: var(--bs-primary);
    background-color: #f9f9f9 !important;
  }
}

.value-hover-render-row {
  &:hover {
    color: #3e97ff !important;
    cursor: pointer;
  }
}

.menu-filter-application {
  z-index: 10;
  box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.18);
  top: 68px;
  position: absolute;
  right: 128px;
  background-color: white;
  animation: animate-application 0.1s;
}

@keyframes animate-application {
  0% {
    top: 80px;
  }
  100% {
    top: 60px;
  }
}

.wrapper-records-applications {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
  align-items: center;
  gap: var(--Form-Control-input-padding-x, 10px);
  border-radius: 6px;
  border: 1px dashed var(--bs-primary);
  background: #f1faff;
  align-self: stretch;
}
.records-applications {
  color: #3f4254;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 137.5% */
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.records-applications-reset {
  color: #7e8299;
  padding: 0;
  margin: 0;
  font-family: Inter !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
}
