.header {
    height: 80px;
    border-bottom: 1px solid #e7edf2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px 0 40px;
    position: sticky;
    background-color: #fff;
    top: 0;
    z-index: 1;
}

.search {
    display: flex;
    align-items: center;
    gap: 8px;
}

.action {
    display: flex;
    align-items: center;
    gap: 16px;
}

.container {
    position: relative;
}

.dropdown {
    position: absolute;
    top: 40px;
    right: -125px;
    width: 250px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 100;
    padding: 16px 12px;
}

.dropdownTitle {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 12px;
}

.emptyBox {
    background-color: #fff3cd;
    padding: 20px 10px;
    border-radius: 6px;
    color: #856404;
    font-size: 14px;
    margin-bottom: 12px;
    text-align: center;
}

.allRequestsButton {
    width: 100%;
    background: none;
    border: 1px solid var(--default-color);
    color: var(--default-color);
    padding: .375rem 2rem;
    min-height: 2.5rem;
    font-size: 14px;
    border-radius: 999px;
    cursor: pointer;
    line-height: 26px;
    box-shadow: 0 2px 5px 0 rgba(58,46,68,.08);
}

.allRequestsButton:hover {
    background-color: var(--default-color);
    color: #fff;
    transition: all 750ms ease;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f8f9fb;
    cursor: pointer;
}

.user {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.user:hover {
    color: var(--default-color);
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.userDropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    width: 180px;
    z-index: 100;
    overflow: hidden;
}

.userDropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.userDropdownItem {
    background-color: #fff;
    padding: 12px 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 13px;
    border-bottom: 1px solid #f1f1f1;
    z-index: 2;
}

.userDropdownItem:last-child {
    border-bottom: none;
}

.userDropdownItem:hover {
    background-color: #f9f9f9;
    color: #9f6ef1;
}