.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .loader {
    height: 50px;
    aspect-ratio: 2;
    border: 10px solid transparent;
    box-sizing: border-box;
    background: radial-gradient(farthest-side, #ff6333 98%, transparent) left / 20px 20px,
      radial-gradient(farthest-side, #ff6333 98%, transparent) left / 20px 20px,
      radial-gradient(farthest-side, #ff6333 98%, transparent) center / 20px 20px,
      radial-gradient(farthest-side, #ff6333 98%, transparent) right / 20px 20px;
    background-repeat: no-repeat;
    animation: loader-animation 1s infinite;
  }

  @keyframes loader-animation {
    100% {
      background-position: right, left, center, right;
    }
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.loading-image {
  animation: fadeInOut 1.5s infinite ease-in-out;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
  text-transform: uppercase;
}